.coming-soon {
    grid-area: coming;
    display: flex;
    justify-content: center;
}

    .coming-soon-txt {
        width: 89%;
        font-family: 'Josefin Sans', sans-serif;   
        color: hsl(0, 40%, 76%);
        text-align: center;     
    }

        .coming-soon-h1 {
            letter-spacing: 1rem;
            line-height: 2.7rem;
            font-weight: 100;
            font-size: 2.5rem;
        }

            .coming-soon-h1 span {
                color: hsl(0, 6%, 24%);
                font-weight: 600;
            }
        
        .coming-soon-p {
            font-size: 1rem;
            line-height: 1.8rem;
        }

@media screen and (min-width: 720px) {
    .coming-soon-txt {
        text-align: left;
    }
}