#root {
  display: flex;
  justify-content: center;
  background: url('./images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas: 'logo'
                       'hero'
                       'coming'
                       'form';
  align-items: center;
  
}


@media screen and (min-width: 720px) {
 
  .App {
    max-width: 1200px;
    grid-template-rows: 2rem auto auto auto 2rem;
    grid-template-columns: 1fr 2rem auto;
    grid-template-areas: '. . .'
                         'logo . hero'
                         'coming . hero'
                         'form . hero'
                         '. . .';
    row-gap: unset;
    column-gap: 12px;
    align-items: center;
 
  }
}

